$lightMagenta: hsl(293, 100%, 63%);
$lightViolet: hsl(264, 100%, 61%);

$white: hsl(0, 0%, 100%);
$lightGrayishViolet: hsl(270, 20%, 96%); //(app background):
$veryDarkDesaturatedViolet: hsl(271, 36%, 24%); //(submit button background)
$veryLightMagenta: hsl(289, 100%, 72%); //(radio button outline)
$bgColor: #fafafa;
$pColor: #a39daa;
