@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

:root {
  --font-Rubik: 'Rubik', sans-serif;
  --font-Normal: 400;
  --font-semiBold: 500;
  --font-Bold: 700;
}
